@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5.9% 10%;
    --foreground: 0 0% 98%;

    --card: 240 6% 13%;
    --card-foreground: 0 0% 98%;

    --popover: 240 6% 13%;
    --popover-foreground: 0 0% 98%;

    --primary: 267 75% 63%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 4.8% 20%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 4.8% 20%;
    --muted-foreground: 240 4.8% 80%;

    --accent: 267 75% 63%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 6% 25%;
    --input: 240 6% 25%;
    --ring: 267 75% 63%;

    --radius: 0.5rem;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 267 75% 63%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 267 75% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}